<ion-header>
  <ion-toolbar>
    <ion-title>Налаштування пошуку</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Закрити</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin: 10px">
    <ion-fab-button (click)="addSearchParams()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="full">
    <edit-search-params *ngFor="let params of searchParams"
                        [searchParams]="params"
                        (save)="saveSearchParams($event)"
                        (remove)="removeSearchParams($event)">
    </edit-search-params>
  </ion-list>

  <ion-card color="warning" *ngIf="searchParams.length === 0">
    <ion-card-header>
      <ion-text style="font-weight: bold">
        Натисніть на "+" щоб додати параметри пошуку
      </ion-text>
    </ion-card-header>
  </ion-card>
</ion-content>
