<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-text>Параметр пошуку №{{searchParams.id}}</ion-text>

      <ion-button class="ion-float-right"
                  size="small"
                  shape="round"
                  color="danger"
                  (click)="removeSearchParams()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="searchParamsForm">
      <div class="ng-autocomplete">
        <ng-autocomplete formControlName="group"
                         [data]="groupsAutocomplete"
                         placeholder="Введіть назву групи"
                         [itemTemplate]="itemTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>
      </div>

      <div class="ng-autocomplete">
        <ng-autocomplete formControlName="teacher"
                         [data]="teachersAutocomplete"
                         placeholder="Введіть прізвище викладача"
                         [itemTemplate]="itemTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>
      </div>

      <ion-item>
        <ion-label position="stacked">З дати:</ion-label>
        <ion-input type="date" formControlName="from"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">По дату:</ion-label>
        <ion-input type="date" formControlName="to"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Автоматичний пошук на місяць</ion-label>
        <ion-toggle formControlName="isForMonth"
                    (click)="toggleDateFields(!searchParamsForm.get('isForMonth').value)">
        </ion-toggle>
      </ion-item>

      <ion-button expand="full" style="margin-top: 10px" (click)="saveSearchParams()">
        Зберегти
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
