.ng-autocomplete {
  width: 100%;
  max-width: 600px;
  display: table;
  margin: 5px auto;
}

.remove-params-button {
  --width: 60px;
  --height: 60px;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
}
