<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-text>Параметр пошуку №1</ion-text>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form>
      <ion-item>
        <ion-label position="stacked">Введіть назву групи:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Введіть прізвище викладача:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">З цієї дати:</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">По цю дату:</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Автоматичний пошук на місяць</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>

      <ion-button expand="full" style="margin-top: 10px">
        Зберегти
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
