<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Налаштування</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header>
      <h1>
        Налаштування вкладок (табів):
      </h1>
    </ion-list-header>
    <ion-item button
              detail
              *ngFor="let tabSettings of settings.tabSettings"
              (click)="presentModal(tabSettings)"
    >
      <ion-icon name="{{tabSettings.icon}}"></ion-icon>
      <ion-label>{{tabSettings.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
