<ion-card>
  <ion-card-header color="secondary">
    <ion-card-title>
      {{day.name}}, {{day.date.toLocaleDateString()}}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content class="card__content">
    <ion-list lines="full">
      <ion-item *ngFor="let lesson of day.lessons" class="card__item">
        <ion-text>
          <h2>Пара №{{lesson.order}}: <strong>({{lesson.time}})</strong></h2>
          <p>{{lesson.type}}</p>
          <p>{{lesson.name}}</p>
          <p>{{lesson.groups}}</p>
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
