.card__content {
  margin: 0 !important;
  padding: 0 !important;
}

.card__item {
  padding-top: 3px;
  padding-bottom: 8px;
}

ion-card * {
  font-size: 1em;
}

ion-card ion-card-content ion-text * {
  font-size: 1em;
}
