<ion-menu side="start" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Розклад занять</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <schedule-day *ngFor="let day of days" [day]="day"></schedule-day>
  </ion-list>

  <ion-card color="warning" *ngIf="days.length === 0">
    <ion-card-header>
      <ion-text style="font-weight: bold">
        Додайте параметри пошуку щоб переглянути розклад
      </ion-text>
    </ion-card-header>
  </ion-card>
</ion-content>
